:root {
  --background-color: #f5f5f5;
  --primary-color: #ff6600;
  --primary-color-light: rgba(255, 102, 0, 0.15);
  --primary-color-dark: #cc5200;
  --white: #fffbfb;
  --border-color: #ddd;
  --bg-light: #f0f0f0;
  --text-color: #333;
  --text-color-light: #6b7280;
  --error-color: #e74c3c;
  --secondary-button-color: #5D6D7E;
  --box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --transition-default: 0.15s ease-in-out;
  font-size: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
}

main {
  padding: 1rem 3rem;
}
